.signup-outer {
    display: flex;
    position: relative;
    min-height: 100%;
    padding-top: 50px;
    font-family: "Gill Sans", san-serif, serif;
    font-size: 1.2em;
    width: 100vw;
    overflow: auto;
}

.flex-grow-width {
    /*flex-grow: 1;*/
    width: 31%;
}

.date-div {
    width: 85%;
    display: flex;
    justify-content: space-between;
    /*align-items: stretch;*/
}
