.signup-outer {
    display: flex;
    position: relative;
    min-height: 100%;
    padding-top: 50px;
    font-family: "Gill Sans", san-serif, serif;
    font-size: 1.2em;
    width: 100vw;
    overflow: auto;
}

.full-name {
    display: flex;
    justify-content: space-between;
    color: rgba(80, 135, 114, 0.51);
}

input[type="date"]::before {
    color: #7f7f7f;
    content: attr(placeholder) "Birthday\00a0" !important;
}

.month {
    border-width: 0;
    background-color: #f5f7fb;
    height: 50px;
    border-radius: 500px;
}

@media only screen and (max-width: 700px) {
    .remember-me-forgot-pass-div {
        flex-direction: column;
        align-items: flex-start;
    }
}





