.signin-outer {
    display: flex;
    position: static;
    height: 100vh;
    padding-top: 50px;
    font-family: "Gill Sans", san-serif, serif;
    font-size: 1.2em;
    width: 100vw;
}

.signin-div {
    /*height: 100%;*/
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    flex-flow: column wrap;
}

.image-div {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EACFCF;
    padding: 20px;
}

#imagy {
    width: 70%;
    padding-top: 0;
    padding-left: 5%;
}

#theimage {
    width: 80%;
    background-image: url("running.png");
    overflow: scroll;
    height: 0;
    padding-top: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#image-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffdada;
    width: 60px;
    height: 60px;
    border-radius: 500px;
    margin-bottom: 20px;
}

.pup-image {
    width: 50%;
    height: 50%;
}

input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] + label:before {
    content: "\2713";
    font-size: 0.75em;
    border: 0.15em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0 2px;
    margin-right: 13px;
    vertical-align: center;
    color: transparent;
    transition: .2s;
}

input[type=checkbox]:checked + label:before {
    background-color: #000;
    /*border-width: 0;*/
    color: #fff;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

.sign-in {
    background-color: #ffdada;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.11);*/
    border-width: 0;
    border-radius: 500px;
    width: 150px;
    padding: 5px;
    transition: all .2s;
}

.sign-in:hover {
    background-color: #fd6b6b;
    width: 70%;
}

button:focus, input:focus {
    outline: none;
}

body {
    height: 100%;
    overflow: auto;
}

.welcome-text {
    color: black;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.input-style {
    border-radius: 500px;
    width: 70%;
    padding: 0 15px;
    height: 50px;
    margin: 15px 0;
    border-width: 0;
    background-color: #f5f7fb;
}

@media screen and (max-height: 700px) {
    .signin-div { justify-content: flex-start; }
}
