.navbar {
  width: 100vw;
  height: 50px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: stretch;
  padding-left: 20px;
  z-index: 1;
}

#home-image {
  position: absolute;
  cursor: pointer;
}

#menu {
  position: relative;
  height: 100%;
  align-items: center;
  list-style: none;
  display: flex;
  font-family: "Gill Sans", san-serif, serif;
  font-size: 1.2em;
  margin-left: 35px;
  padding: 0;
  flex-grow: 2;
}

ul#menu > li {
  display: contents;
  padding: 0;
}

ul#menu > li:last-child {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
}

a {
  color: black;
}

.nav-link, .active {
  font-size: 1.1em;
}
